{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Login {% endblock title %}

{% block content %}
     <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase font-weight-bold">Se connecter à mon compte </h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline mt-4">
                        <form method="post" class="h4 text-secondary font-weight-bold" action="">
                            {% csrf_token %}
                            {{form|crispy}}
                            <button class="btn btn-primary mt-3 mb-4" type="submit">Se connecter</button>
                            <p class="h4">Pas de compte? Créer votre compte <a href="{% url 'signup' %}">ici</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </header>

{% endblock content %}