{% extends '_base.html' %}

{% load static %}

{% block content %}
    <header id="product-search" class="substitute-image">
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <h1 class="text-white font-weight-bold mb-5">{{ substitute.product_name }}</h1>
            </div>
        </div>
    </header>

    <!-- Product Detail -->
<section id="product-details">
    <div class="container mt-5">
            <div class="row align-items-center justify-content-center mt-5">
                <div class="col-12 col-lg-6 mt-5">
                    <img src="{% static 'src/assets/img/nutricode/nutriscore-'|add:substitute.nutrition_grades|add:'.svg' %}" alt="{{ substitute.product_name }}">
                </div>
                <div class="nutri-quality mt-5">
                    <h3>Repère nutritionnel pour 100g</h3>
                    <ul class="food-level list-group list-group-flush mt-5">
                        <li class="fat list-group-item">Lipide: {{ substitute.fat_100g }}g </li>
                        <li class="saturated_fat list-group-item">Graisse saturée: {{ substitute.saturated_fat_100g }}g</li>
                        <li class="sugar list-group-item">Glucide: {{ substitute.sugars_100g }}g</li>
                        <li class="salt list-group-item">Sel: {{ substitute.salt_100g }}g</li>
                    </ul>
                </div>
                <div class="button mt-5 mb-5 align-items-center justify-content-center">
                    <div class="link mr-5">
                        <a href="{{ substitute.url }}">
                            <button type="button" class="btn btn-lg btn-outline-info">
                                Voir la fiche d'OpenFoodFacts
                            </button>
                        </a>
                    </div>
                    <div class="back ml-5">
                        <button class="btn btn-lg btn-outline-secondary" onclick="window.history.back()" type="button">
                            Retour
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .substitute-image {
        height: 350px;
        padding-top: 10rem;
        background-color: #345A61;
        background: linear-gradient(to bottom,rgba(92,77,66,.8) 0,rgba(92,77,66,.8) 100%),
            url({{substitute.image_url}});
        background-repeat: repeat;
        background-position-x: 35%;
        background-position-y: 50%;
        }
</style>

{% endblock content %}

