{% extends '_base.html' %}

{% load static %}

{% block content %}
     <header id="product-search" class="bg-product-search mb-5">
        <div class="container-fluid h-200">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="text-center mb-5">
                    <h2 class="text-white font-weight-bold mb-4">{{ product.product_name }}</h2>
                    <img class="card-img rounded mx-auto d-block" src="{{ product.image_url}}" alt="{{ product.product_name }}">
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class='row align-items-center justify-content-center'>
            <div class="col-12 text-center mt-3 mb-5">
                <h2>Vous pouvez remplacer cet aliment par:</h2>
            </div>
             {% if not products_list %}
                 <div class="alert alert-warning"> {{ title|title }} indisponible</div>
            {% endif %}
            {% for sub in products_list %}
                <div class="col-11 col-lg-4">
                    <div class="product-thumb mb-5 mt-3">
                        <div class="nutri-grade text-right ">{{ sub.nutrition_grades|upper }}
                            <a href="{%  url 'products:details' sub.id %}">
                                <img src="{{ sub.image_url}}" class="shadow-sm p-3 mb-3 bg-white card-img rounded mx-auto d-block" alt="product image">
                            </a>
                            <div class="product-thumb-legend mb-5">
                                <div class="text-center">{{sub|title}}</div>
                                <div class="text-center">
                                    <a href="{% url 'products:substitute' product_id=product.id substitute_id=sub.id %}">
                                        <button type="submit" class="btn btn-link"><i class="fas fa-save"></i> Sauvegarder</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
            {% if is_paginated %}
              <div class="pagination">
                  <span class="page-links">
                      {% if page_obj.has_previous %}
                          <a href="{{ request.get_full_path }}&page={{ page_obj.previous_page_number }}">Précédente</a>
                      {% endif %}
                      <span class="page-current">
                          Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                      </span>
                      {% if page_obj.has_next %}
                          <a href="{{ request.get_full_path }}&page={{ page_obj.next_page_number }}">Suivante</a>
                      {% endif %}
                  </span>
              </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}