{% extends '_base.html' %}
{% load static %}

{% block content %}
    {% include '_base_title.html' %}
<div class="container">
    <div class="row product-search">
        <div class="col-12 text-center mt-2 mb-5">
            <h2>Choisissez le produit que vous souhaitez substituer</h2>
        </div>
        {% if not product_list %}
            <div class="alert alert-warning"> {{ title|title }} indisponible</div>
        {% endif %}
        {% for product in product_list %}
            <div class="col-11 col-lg-4">
                <div class="product-thumb mb-5">
                    <div class="nutri-grade text-right mt-5">{{ product.nutrition_grades|upper }}
                        <div class="text-center mt-4">
                            <a href="{%  url 'products:results' product.id %}" >
                                <img class="shadow-sm p-3 mb-3 bg-white rounded card-img mx-auto d-block" src="{{ product.image_url }}" alt="{{ product.product_name }}">
                                <div class="product_name text-center">{{ product.product_name }}</div>
                                <button class="btn btn-md btn-outline-secondary" type="button">Substituer</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if is_paginated %}
          <div class="pagination ">
              <span class="page-links">
                  {% if page_obj.has_previous %}
                      <a href="{{ request.get_full_path }}&page={{ page_obj.previous_page_number }}">Précédente</a>
                  {% endif %}
                  <span class="page-current">
                      Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                      <a href="{{ request.get_full_path }}&page={{ page_obj.next_page_number }}" class="next-page ">Suivante</a>
                  {% endif %}
              </span>
          </div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% include 'footer.html' %}


