{% extends "_base.html" %}

{% block content %}

{% include "_base_title.html" with title=fullname %}

<section id="account" class="h-100">
    <div class="account container">
      <div class="row h-75 align-items-center justify-content-center py-3">
        <h2>{{ user.email }}</h2>
      </div>
    </div>
</section>

{% endblock content %}
