{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %} Sign Up {% endblock title %}

{% block content %}
    <header class="masthead">
            <div class="container h-100 mt-5 mb-5">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="mt-5 mb-4"> Création nouveau compte </h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <form method="post" class="h4 text-secondary font-weight-bold mb-5">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn btn-primary mt-4 mb-5" type="submit">Créer</button>
                        </form>
                    </div>
                </div>
            </div>
        </header>
{% endblock content %}