<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{% endblock title %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'dist/assets/img/logo_pur_beurre-favicon.png' %}" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet" type="text/css">
        <!-- Third party plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'dist/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body id="page-top">
        {% block nav %}
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <a href="{% url 'home' %}" class="navbar-brand js-scroll-trigger logo">
                            <img class="purbeurre-logo" src="{% static 'dist/assets/img/logo_pur_beurre.png' %}">
                            Pur Beurre
                        </a>
                    </div>
                </div>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Search form -->
                <div class="col-6 form-div">
                    <div class="col-5">
                        <form action="{% url 'products:search' %}">
                            <div class="form-group justify-content-center align-items-center">
                                <label for="search"></label>
                                <input id="search" class="form-control search" type="text" placeholder="Chercher" aria-label="Search" name="product_search">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <div class="col-14 connect-options">
                        <ul class="navbar-nav ml-auto my-2 my-lg-0">
                                {% if user.is_authenticated %}
                                    <p class="user-name"> Bonjour, {{user.first_name}} </p>
                                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'account' %}"><i class="fas fa-user"></i></a></li>
                                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'products:myproducts' %}"><i class="fas fa-carrot"></i></a></li>
                                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i></a></li>
                                {% else %}
                                    <li class="nav-item connect"><a class="nav-link js-scroll-trigger" href="{% url 'login' %}">Connexion</a>
                                    <li class="nav-item sign-up"><a class="nav-link js-scroll-trigger" href="{% url 'signup' %}">Créer un compte</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        {% endblock nav%}
        {% block content %}

        {% endblock content %}
        <!-- Footer-->
        {% include 'footer.html' %}
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'dist/js/scripts.js' %}"></script>
    </body>
</html>
