<footer class="py-3 bg-secondary">
  <div class="container">
      <div class="row">
          <div class="text-center col-6">
              <a href="{% url 'legal' %}" class="text-dark">Mentions légales</a>
          </div>
          <div class="text-center col-6">Contact</div>
      </div>
    </div>
</footer>