{% extends '_base.html' %}
{% load static %}

{% block title %}Home page PurBeurre{% endblock title %}
{% block content %}
    {% block header %}
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase font-weight-bold">Du gras oui mais de qualité!</h1>
                        <h2> Trouvez un produit de substitution pour ceux que vous consommez tous les jours </h2>
                    </div>
                    {% include 'search.html' %}
                </div>
            </div>
        </header>
    {% endblock header %}
        <!-- About-->
        <section class="page-section bg-light " id="about">
            <div class="container">
                 <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-dark mt-0">Colette et Remy</h2>
                        <hr class="divider my-4">
                        <h2 class="text-black mt-5">De la ratatouille aux croissants</h2>
                        <p class="text-black-50 mb-4 mt-4 phrase">Pur Beurre est l'initiative de deux amoureux de la gastronomie française, Colette Tatou et Rémy, que vous avez déjà certainement rencontrés dans notre excellent restaurant Ratatouille.</p>
                        <div class="row story">
                            <div class="col-lg-6 col-12 order-1">
                                <p class="text-black-50 mb-4 text-justify"><strong class="text-dark">Colette Tatou :</strong> "Nous aimons tous manger, surtout en France ! Personnellement, une baguette fraîche, du bon fromage de chèvre et un bon vin rouge me suffisent amplement. Comme tout le monde, je fais mes courses au supermarché. Mais petit à petit je me suis rendue compte, surtout lorsque nous avons ouvert le restaurant, que je pouvais remplacer les produits aseptisés que j'avais l'habitude d'acheter par de bons produits du terroir Et souvent pour le même prix !"</p>
                                <img class="col-lg-6 col-12 order-lg-3 story-image" src="{% static 'src/assets/img/colette-tatou-full.png' %}" alt="colette image">
                            </div>
                            <div class=" col-lg-6 col-12 order-2">
                                <p class="text-black-50 mb-4 text-justify"><strong class="text-dark">Remy :</strong> "Pour ma part je me rendais déjà dans bien des magasins car j'aime beaucoup me balader, surtout dans les caves et les cuisines. Je connaissais par coeur le contenu des boutiques bio (dont je raffole) ainsi que les ingrédients de tous les aliments vendus. Lorsque Colette m'a demandé si elle pouvait remplacer son Nutella matinal par un aliment plus sain, je savais tout de suite où le trouver. L'idée de Pur Beurre était née !"</p>
                                <img class="col-lg-6 col-12 order-lg-4 mt-4 story-image" src="{% static 'src/assets/img/ratatouille-portrait.jpg' %}" alt="remy image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="mt-0">Contactez-nous!</h2>
                        <hr class="divider my-4" />
                        <p class="mb-5">Vous souhaitez partager votre avoir du bon gras avec nous, n'hésitez pas!</p>
                    </div>
                </div>
                <div class="row contact">
                    <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                        <i class="fas fa-phone fa-3x mb-3"></i>
                        <div class="phone">+1 (555) 123-4567</div>
                    </div>
                    <div class="col-lg-4 mr-auto text-center">
                        <i class="fas fa-envelope fa-3x mb-3"></i>
                        <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                        <a class="d-block mail" href="mailto:contact@yourwebsite.com">contact@yourwebsite.com</a>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}